.about-jumbotron {
    background-image: url('../images/about_banner.png');
    border: 1px solid black;
    background-position: center bottom;
    min-height: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
}

.about-intro {
    padding-top: 25px;
}

.about-intro > h1 {
    font-family: BebasNeueBold;
}

.about-intro > p {
    font-family: OverpassRegular;
    padding-left: 150px;
    padding-right: 150px;
}


.team-info {
    padding-top: 30px;
}

.team-info > h1 {
    font-family:  BebasNeueBold;
}

.team-card-deck {
    position: relative;
    display: block;
    padding-bottom: 25px; 
    margin-bottom: 15px;
}

.team-card {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 15px;

    font-family: OverpassRegular;
    background-color: #9e9e9e;
    border: 2px solid #383838;

    margin-top: 5px;
}

.team-card.card {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.member-name {
    font-weight: bold;
    font-size: large;
}

.gitlab-image {
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    border: 0.5px solid #383838;
    min-width: 100%;
    max-width: 100%;
    scale: 100%;
    border-radius: 10px;
    padding: 3px;
    /* height: auto; */
    object-fit: center;
    
}

.gitlab-bio {
    margin-left: 10px;
    margin-right: 10px;
}

.team-card-footer {
    position: relative;
}

.gitlab-stats-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.gitlab-stat {
    background-color: darkgray;
    border: 0.5px solid #383838;
}

.project-stats {
    position: relative;
    display: block;
    padding-bottom: 45px;
    font-family: BebasNeueBold;
}

.project-stats-list {
    font-family: OverpassRegular;
    width: 30%;
    padding: 15px;
    border-radius: 15px;
    background-color: darkgray;
    border: 1.5px solid #383838;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    margin: auto; 
}

.project-stat {
    background-color: white;
    border: 1px solid #383838;
}

.tools {
    font-family: BebasNeueBold;
    width: 90%;
    padding-bottom: 35px;
    margin: auto;
}

.tools-card-group {
    font-family: OverpassRegular;
    border-radius: 10px;
}

.tools-card {
    background-color: silver;
    border: 2px solid darkgray;
    position: relative;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.tools-card-header {
    min-height: 22%;
    display: flex;
    align-items: center;
}

.tools-card-header > h3 {
    margin: auto;
}

.tools-card-img {
    background-color: white;
    border: 3px solid darkgray;
    scale: 100%;
    border-radius: 5px;
    max-width: 80%;
    height: 35%;
    padding: 3px;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.data {
    font-family: BebasNeueBold;
    min-width: 50%;
    max-width: 65%;
    padding-bottom: 35px;
    margin: auto;
}

.data-card-group {
    font-family: OverpassRegular;
    border-radius: 10px;
}

.data-card-group > .card {
    background-color: silver;
    border: 1px solid #383838;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    position: relative;
}

.development {
    font-family: BebasNeueBold;
    min-width: 30%;
    max-width: 35%;
    padding-bottom: 35px;
    margin: auto;
}

.development-card-group {
    font-family: OverpassRegular;
    border-radius: 10px;
}

.development-card-group > .card {
    background-color: silver;
    border: 1px solid #383838;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    position: relative;
}

