.container {
    width: 100%;
}

main {
    background-image: linear-gradient(to bottom right, #f0f8ff, #EAEAEA);
}

@font-face {
    font-family: BebasNeueBold;
    font-weight: bold;
    src: url("BebasNeue/BebasNeue-Bold.ttf") format("truetype");
}

@font-face {
    font-family: BebasNeueRegular;
    src: url("BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OverpassRegular;
    src: url("Overpass/overpass-mono/overpass-mono-regular.otf") format("truetype");
}

.events_jumbotron {
    background-image: url('../images/all_events_banner2.jpg');
    background-position: center bottom;
    min-height: 480px;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}

.locations_jumbotron {
    background-image: url('../images/all_locations_banner3.jpg');
    border-bottom: 1px solid black;
    background-position: center bottom;
    min-height: 520px;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}

.search_bar {
    justify-content: center;
    font-family: OverpassRegular;
    padding-top: 25px;
    padding-bottom: 25px;
}

.search_input {
    padding-left: 15px;
    padding-right: 15px;
}

.filter_input {
    padding-left: 15px;
    padding-right: 15px;
}

.sort_input {
    padding-left: 15px;
    padding-right: 15px;
}

.clear_all {
    margin-left: 15px;
    margin-right: 15px;
}

.search_bar_dropdown {
    background-color: lightblue;
}

.search_bar_dropdown > button {
    border: 1px solid lightslategrey;
    background-color: #F5FFFA;
}

.filter_dropdown_item {
    background-color: #F5FFFA;
    border: 1px solid lightslategrey;
}
  
.my_card {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    max-width: 338px;
    min-height: 400px;

    font-family: OverpassRegular;
    background-color: #9e9e9e;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
}

.my_compare_card {
    padding: 15px;
    border-radius: 15px;
    min-width: 400px;
    min-height: 400px;
    font-family: OverpassRegular;
    background-color: #9e9e9e;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
}

.my_card.card {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border: 2px solid black;
}

.my_compare_card.card {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border: 2px solid black;
}


.card_title {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

.card_text {
    margin-top: 1px;
    margin-bottom: 1px;
}

.card_link {
    color: white;
}

.card_image {
    background-color: white;
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    scale: 100%;
    border-radius: 10px;
    padding: 3px;
    /* height: auto; */
    object-fit: center;
}

.card_button {
    margin-top: 10px;
}

.card_deck_header {
    background-image: linear-gradient(to right, lightgray, whitesmoke);
    border: 1px solid black;
    height: 150px;
    width: 100%;
    position: relative;
    font-size: 55px;
    font-family: BebasNeueBold;
}

.holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_deck {
    position: relative;
    display: block;
    max-width: 70%;
    padding-bottom: 15px; 
    margin-bottom: 15px;
    margin: auto;
}

.card-deck {
    margin: 5px 10px 0px;
    padding: 0px
}


