.pagination {
    margin-left: auto;
    margin-right: auto;
    font-family: OverpassRegular;
    text-align: center;
}

.footer{
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: OverpassRegular;
}
  