.navbar {
    font-family: OverpassRegular;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8); 
}

body {
    background-color: #EAEAEA;
}


.my-jumbotron {
    height: 100vh;
    background-image: url('../images/olympic_stadium2.png');
    background-color: white;
    background-size: 100% 100%;
    min-height: 40%;
    background-repeat: no-repeat;
}

.explore-btn {
    margin-right: 80%;
    margin-bottom: 15px;
}

.splash-carousel {
    padding: 1px;
    border-radius: 15px;
    background-color: lightgray;
    font-family: OverpassRegular;
    max-width: 40%;
    max-height: 50%;
    border: 1px solid gray;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    margin-right: 50%;
}

.carousel-item > img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    animation-timing-function: step-start
}

.carousel-item > h3 {
    font-family: OverpassRegular;
}

.my-button-group {
    margin-right: 80%;
}

.home_header {
    font-weight: bold;
    font-family: BebasNeueBold;
    color: white;
    text-shadow: 3px 3px 6px #fff3f4;
    text-align: left;
    font-size: 600%;
}

.home_paragraph {
    font-family: OverpassRegular;
    color: white;
    text-align: left;
}
  