.backLink{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
}

@font-face {
    font-family: BebasNeueBold;
    font-weight: bold;
    src: url("BebasNeue/BebasNeue-Bold.ttf") format("truetype");
}

@font-face {
    font-family: BebasNeueRegular;
    src: url("BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OverpassRegular;
    src: url("Overpass/overpass-mono/overpass-mono-regular.otf") format("truetype");
}


.event_header {
    background-color: lightgray;
    height: 150px;
    width: 100%;
    position: relative;
}

.event_image_section {
    position: relative;
    height: 350px;
    width: 100%;
}

.event_image{
    border-radius: 15px;
    height: 350px;
}

.holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event_name {
    font-size: 55px;
    font-family: BebasNeueBold;
}

.table_container {
    font-family: OverpassRegular;
    border-radius: 15px;
    position: relative;
    padding-bottom: 30px;  
}

.table_event {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #c0c0c0;
}