.allCountriesImage {
    max-height: 35px;
    /* padding-top: .25px;
    padding-left: .25px;
    padding-right: .25px;
    padding-bottom: .25px; */
    margin-top: 1px;
}

.country_table_header {
    background-image: linear-gradient(to right, lightgray, whitesmoke);
    border: 1px solid black;
    height: 150px;
    width: 100%;
    position: relative;
    font-size: 55px;
    font-family: BebasNeueBold;
}

.holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countries_jumbotron {
    background-image: url('../images/all_countries_banner5.png');
    border-bottom: 1px solid black;
    background-position: center bottom;
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;  
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}

.countries_searchbar {
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.country_table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: OverpassRegular;
    background-color: #dcdcdc;
}

table.table-bordered {
    padding-left: 50px;
    padding-right: 50px;
}

table.table-bordered > thead > tr {
    background-color: #d0d0d0;
}

table.table-bordered > tbody > tr:nth-child(even) {
    background-color: #d0d0d0;
}

table.table-bordered > thead > tr > th {
    border: 1px solid black;
}
table.table-bordered > tbody > tr > td{
    border: 1px solid black;
}

table.table-bordered > tbody > tr > th{
    border: 1px solid black;
}

td:hover {
    border: 1px solid red;
}

.countries_content {
    display: table-cell;
    vertical-align: center;
    text-align: center;
}

