.visualizations_header {
    background-image: linear-gradient(to right, lightgray, whitesmoke);
    border: 1px solid black;
    height: 150px;
    width: 100%;
    position: relative;
    font-size: 55px;
    font-family: BebasNeueBold;
}

.graph-container {
    padding-top: 25pt;
    width: 90%;
    font-family: OverpassRegular;
}

.events-graph-col {
    margin-left: 5px;
    margin-right: 5px;
    font-family: OverpassRegular;
}

.pie-graph {
    display: flex;
}

.scatter-plot {
    display: flex;
    position: relative;
    margin: auto;
}

.line-graph {
    display: flex;
}
